/* Styling for lab1 */
body {
	/* background-color: #53b36b; */
	background-color: #94d2a4;
}

h1 {
	margin-top: 45px;
	margin-bottom: 15px;
}

input { 
	margin: 10px 0; 
}

.instructions, footer {
	text-align: center;
}

.link-wrapper {
	margin: 10px 0;
}

.img-link {
	width: 600px;
	height: 300px;
}

.site-link {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 15px;
	margin-bottom: 25px;
}

.site-form {
	margin: 0 100px;
	border-bottom: 1px solid black;
	/* padding: 20px; */
	/* border: 2px solid black; */
	/* background-color: #2ca44c; */ 
}

.question-wrapper { 
	margin-bottom: 30px; 
	background-color: white;
	border: 2px solid white;
	padding: 10px;
}

.answerWrapper, .radioTextWrapper {
	display: flex;
	justify-content: space-between;
}

.radioText { 
	margin: 2px 0; 
}

.experienceSelect {
	margin-top: 5px;
}

.comments {
	margin-top: 10px;
}

.buttons {
	margin-top: 0;
}





